 /*
Theme Name: Boshanka Baseplate
Theme URI: http://www.boshanka.co.uk/
Author: Boshanka
Author URI: http://www.boshanka.co.uk
Description: Custom theme for MRTIPSY
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: MRTIPSY
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Era Of Data is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
 
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus 
# Accessibility
# Alignments
# Clearings
# Header
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Footer
# Global
# Infinite scrollfrui
# Media
	## Captions
	## Galleries 
# GRID
  

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


/* Scss Document */
$mobile-small: 240px;
$mobile-large: 320px;
$tablet-400: 400px;
$tablet-380: 360px;

$tablet-small: 480px;
$tablet-mid: 600px;
$tablet-641: 641px;
$tablet-large: 768px;

$wp-breakpoint: 783px;
$tablet-961: 961px; 

$tablet-wide: 992px; 
$screen-small: 1080px;
$screen-large: 1200px; 
$screen-xl: 1400px;
$screen-xxl: 1600px;
$screen-wide: 1800px;


 

 

$black: rgba(0,0,0,1);
$ltgrey: #f3f3f3;
$dkgrey: #222;
$ltblue: #0397d6;
$vltblue: #e1f5ff; 
$dkblue: #011721;
$dkblue-trans: rgba(1,23,33,0.9); 
$blue-trans: rgba(5,120,227,0.8); 
$green-trans: rgba(1,221,118,0.8);
$turq: #3db0a4;  
$offblack: #011a24;
$mapblue: #283a3d;
$brown: #cec4b7;
$greenlight: #c5d312;
$black-transish: rgba(0,0,0,0.8);
$black-transish2: rgba(0,0,0,1); 
$mh1: rgba(1,23,33,0.8);
$mh2: rgba(1,37,55,0);


$black-trans: rgba(0,0,0,0.0); 





 
$primary: 'McLaren', cursive;
$headers: 'Mouse Memoirs', sans-serif;
$hand: 'McLaren', cursive;



$blue:#01B3C3;
$lpurple: #6a3aef;
$dpurple: #4618c6;
$yellow: #ffce47;
$green: #75c124;
$teal: #01B3C3;
$white: #fff;
$orange: #f87902;

$pink: #ff3ab0;





@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;  
      -ms-border-radius: $radius;
	   -o-border-radius: $radius;
          border-radius: $radius;
}


/**
Shadow use example
 * .card {
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     @include box_shadow(1);
 *     &:hover {
 *         @include box_shadow(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */

@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}



// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}


/*
.test {
  @include skew(25,10);
  @include transform-origin(top left);
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20,20,20,.5);
}
*/




@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}



@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, top, bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');

}



@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}



@mixin gradient-animation( $start, $end, $transTime ){
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($end, $start);
    content: '';    
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
     &:before {
       opacity: 1; 
     }
  }
}




/* Scss Document */

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {overflow-x: hidden;
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2.2em;
	margin: 0.67em 0;
}
.center-text{ text-align:center;}
mark {
	background: #ff0;
	color: $black;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}


a, input, a img, a span, svg, .btn{@include transition(all, 0.3s, ease-in-out);}
a:hover, input:hover, a:hover img, a:hover span, svg:hover, .btn:hover{@include transition(all, 0.3s, ease-in-out);}
	

.btn-yellow{background:$yellow!important; color: $white!important; 
	&:hover{background:$green!important; color: $white!important; }
}
/*--------------------------------------------------------------
# Typography
------------------- -------------------------------------------*/


body,
body,
button, 
input,
select,
textarea {
	color: #464646;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	font-family: $primary;
}

 
.site-content{margin: 0 auto;    
		line-height:1.6em;
		}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
	clear: both;
	font-family: $headers;

	line-height:1.3em;
	margin-top:0rem; 
	margin-bottom:1.5rem; 
	color:$black;
}

h1,h2,h3,h4,h5,h6{	line-height:0.8em;
}


  


h1,.h1{ font-size:4em!important;}
h2,.h2{ font-size:3.8em; margin-bottom:1rem;}
h3,.h3{ font-size:1.8em; margin-bottom: 0.2em;}
h4,.h4{ font-size:1.6em;}
h5,.h5{ font-size:1.2em;} 
h6,.h6{ font-size:0.9em;}

.h1{font-size:1.8em!important;}

p, li {
	margin-bottom: 1.5em;
	font-size:1.2em;
	line-height: 1.4em;
	font-weight: 300; 
	letter-spacing:-0.5px;
}

li{ margin-bottom: 0.4em;}
p{margin-top:0.2em;}
p.call{ text-align:center;}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 1em!important;
	padding-left:1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold; 
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}



/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


 
button:hover, .btn:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	 }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	}
 


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	@include border-radius(3px);
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $pink;
	text-decoration:none;
}

a:visited {
}

a:hover,
a:focus,
a:active {
	color: darken( $green, 10% )

}

a:focus {
	outline: thin dotted;
} 

a:hover,
a:active {
	outline: 0;
}



  

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation .menu-primary-container {
	clear: both;
	display: block;
	float: left;
	width: 0;
	 position: fixed;
	    top: 0em;
    bottom: 0em;
    right: 0em; 
    left: 0em;
	opacity: 0;
	margin-left:-310px;
	background:$pink;
		-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);-ms-transform: rotate(180deg); 
	
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding:0px;
}

.main-navigation li{margin:0px!important;
	
}



.main-navigation a {
	display: block;
	padding: 0.3em 0;
	position: relative;
	text-decoration: none;
	font-weight:300;
	font-size:1em; 
	font-family: $primary;
	&:hover{background:$dpurple;}
		

}




.main-navigation ul {
	list-style: none;
	margin: 0;
	width:100%;
}

.main-navigation ul ul {
	display: none;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation li {
	position: relative;
	float: left;

}

	.main-navigation li.menu-item-has-children li{ background:#e8e8e8!important;}
	.main-navigation li.menu-item-has-children li a{ padding-left:3em;}
	.main-navigation li.menu-item-has-children li .sub-menu li{ padding-left:2em;}


.main-navigation ul > li > a {
	padding-left:1.6em;
	padding-right:1em;
}



.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
	border-top: 0;
}

.main-navigation .-children > a {
	padding-right: 48px;
}

.main-navigation .menu-item-description {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 0.5em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle { display: none;
	position:absolute;
	height:27px;
	width:27px;
	top:11px;
	right:10px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	padding:0px;
	font-family:'FontAwesome';
	background-color:#aaaaaa;
	border:none;
	content:"";
	color:$white;
	text-transform:lowercase;
}

.dropdown-toggle:after {
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 1px;
	width: 27px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: $white;
	background-color: #595959;
}


.dropdown-toggle.toggle-on:after {
	content: "\f077";
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}




.menu-toggle{ 
	background:$white; border:4px solid $pink; @include border-radius(25px);
	
	position:fixed;
z-index:100;
top:1.25em;
left:1.2em;
opacity:1;
margin: 0px;
padding:10px;
width: 50px;
height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
 @include transition(all, .2s, ease-out); 
	outline:none!important;
	position: absolute;
	z-index: 2000;

}


.menu-toggle span{ 
  display: block;
  position: absolute;
  height: 4px;
  width: 27px;
  background: $pink;
@include border-radius(1px);
  opacity: 1;
  left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
    -ms-transform: rotate(0deg);
 @include transition(all, .25s, ease-out);
}


/* Icon 3 */

.menu-toggle span:nth-child(1) {
  top: 10px;
}

.menu-toggle span:nth-child(2),.menu-toggle span:nth-child(3) {
  top: 18px;
}

.menu-toggle span:nth-child(4) {
  top: 26px;
}

.menu-toggle.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}

.menu-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
    -ms-transform: rotate(45deg);

}

.menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);

}

.menu-toggle.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}


/* Hovering Menu */	

.main-navigation.toggled .menu-primary-container{
	-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-ms-transform: rotate(0deg); 
	position:fixed;
	padding:0;
	z-index:1;
	background:$pink;
	top:1em;
    bottom: 0em;
    right: 0em;
    left: 1em;
	width: 310px;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius:3px;
	z-index: 1000;
	    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	height:310px;
	opacity: 1;
	margin-left:0;
	@include border-radius(30px); 
	@include box_shadow(4);
	
}





.main-navigation.toggled div{ height:100%; display:table; width:100%;
	ul{ vertical-align:top; display:table-cell; opacity:1; max-height: 80vh; width:100%; padding-top:70px; }
}
.main-navigation.toggled ul li { width:100%;}


.main-navigation.toggled ul li a{ text-align: left;color:#fff;}





.main-navigation.toggled ul{
overflow-y:auto;

}

.main-navigation.toggled ul ul{
	display:none;
}


.main-navigation.toggled ul ul.toggled-on, .main-navigation.toggled ul ul.toggled-on > ul {
	display:block; 
}



.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}



 
	
/*---------------------------------------------------------- ----
# Header
--------------------------------------------------------------*/


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: $blue;
	svg{ margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;} 
.loading-icon {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}
.loading-icon .rect {
  background-color: $white;
  height: 100%;
  width: 4px;
  float: left;
  -webkit-animation: loading-rect 0.6s infinite ease-in-out;
  -moz-animation: loading-rect 0.6s infinite ease-in-out;
  -o-animation: loading-rect 0.6s infinite ease-in-out;
  animation: loading-rect 0.6s infinite ease-in-out;
}
.loading-icon .rect ~ .rect {
  margin-left: 4px;
}
.loading-icon .rect1 {
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  -o-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.loading-icon .rect2 {
  -webkit-animation-delay: -0.2s; 
  -moz-animation-delay: -0.2s;
  -o-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.loading-icon .rect3 {
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes loading-rect{ 0%, 100% { -webkit-transform: scaleY(0.2); opacity: 0.2; } 50% { -webkit-transform: scaleY(1.0); opacity: 1; }}
@-moz-keyframes loading-rect{ 0%, 100% { -moz-transform: scaleY(0.2); opacity: 0.2; } 50% { -moz-transform: scaleY(1.0); opacity: 1; }}
@-o-keyframes loading-rect{ 0%, 100% { -o-transform: scaleY(0.2); opacity: 0.2; } 50% { -o-transform: scaleY(1.0); opacity: 1; }}
@keyframes loading-rect{ 0%, 100% {-webkit-transform: scaleY(0.2);-moz-transform: scaleY(0.2);-ms-transform: scaleY(0.2);transform: scaleY(0.2); opacity: 0.2; } 50% {-webkit-transform: scaleY(1.0);-moz-transform: scaleY(1.0);-ms-transform: scaleY(1.0);transform: scaleY(1.0); opacity: 1; };
}
}



	  
/* 
	.book{z-index:100;top:0.8em;right:3.2em; width:250px; height:64px; position: absolute;
			a{color:$white!important; width:250px; height:64px; background: url("img/booknow.png") 0 0 no-repeat; display: block; background-size:250px 129px; overflow: hidden; padding-top:64px; height: 0px; transition:none;
				&:hover{ background-position: 0 -62px;}
			}
		}
*/




#masthead{ @include transition(all, 0.3s, ease-in-out); position: absolute; width: 100%; z-index:4;  top: 0px; /* @include linear-gradient($mh1, $mh2);  */ background:rgba(0,167,182,0); height: 90px;
	.site-branding{
		.social{ position: absolute; top:23px; left: 84px; display: none;
	a{ color: $white; font-size:2em;
		i{margin:0px; padding: 0px;} 
		}
}

		.site-logo{width:80px; margin: 0 auto;}
		.site-title{display:block; width:80px; height:auto;overflow:hidden;  @include transition(all, 0.2s, ease-in-out);  max-width:250px; margin:30px auto 0% AUTO; display:table;
			img{ opacity: 1;  display:block; float: left;  @include transition(all, 0.2s, ease-in-out); }
		}
		.book{z-index:100;top:0.8em;right:1.2em; width:110px; height:54px; position: absolute; overflow: hidden;
			a{color:$white!important; width:148px; height:54px; background: url("img/booknow.png") 0 0 no-repeat; display: block; background-size:150px 80px; overflow: hidden; padding-top:39px; height: 0px; transition:none; float:right; margin-top:12px;
				&:hover{ background-position: 0 -40px;}   
			}
		} 
	 
	}
	.bump{ display: none;}
	
} 


.home{
	#masthead{ @include transition(all, 0.3s, ease-in-out); position: absolute; width: 100%; z-index:4;  top: 0px; /* @include linear-gradient($mh1, $mh2);  */ background:rgba(0,167,182,0); height: 90px; 
	.site-branding{
		.social{ position: absolute; top:23px; left: 84px; display: none;
	a{ color: $white; font-size:2em;
		i{margin:0px; padding: 0px;} 
		}
}

		.site-logo{width:80px; margin: 0 auto;}
		.site-title{display:block; width:80px; height:auto;overflow:hidden;  @include transition(all, 0.2s, ease-in-out);  max-width:250px; margin:30px auto 0% AUTO; display:table;
			img{ opacity: 0;  display:block; float: left;  @include transition(all, 0.2s, ease-in-out); }
		}
	
	 
	} 
	
} 

}






#masthead.shrink{top:0px; /*background:#18aad9;*/@include transition(all, 0.2s, ease-in-out); background:rgba(0,167,182,1);  padding-bottom: 0.8em; height: 90px;  @include box_shadow(4); position: fixed; -webkit-animation-duration: 0.5s;animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
	.site-branding{ padding: 0em;@include transition(all, 0.2s, ease-in-out);
		.site-title{max-width:800px;  @include transition(all, 0.2s, ease-in-out);  margin:10px auto 10px AUTO;
			img{ @include transition(all, 0.2s, ease-in-out); opacity: 1; display: block;}   
		}
	} 
	.bump{ display: block; max-width:240px; margin:  0 auto; margin-top:-10px; width:100%;}
}

@keyframes shrink {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   } 
} 

 .shrink {
            -webkit-animation-name: shrink;
            animation-name: shrink;
         }

.home {
	#masthead.shrink{
		.site-branding{
			.social{display:none!important;}
			
			.site-logo{
				.site-title{
					img{display:block;}
				}
			}
		}
	}
}

	#masthead.shrink{
		.site-branding{
			.social{display:none!important;}
			.book{width:110px;
				a{width:148px; background-size:150px 80px; padding-top:39px; margin-top:12px;
					&:hover{background-position: 0 -39px;}
				}
			}
			.site-logo{
				.site-title{
					img{display:block;}
				}
			}
		}
	}

.home #primary #main section.hero{display:flex; min-height: 100vh;}
.blue{background:$blue;}
.purple{ @include linear-gradient($lpurple, $dpurple);}
.yellow{background:$yellow;}
.green{background:$green;}
.teal{background:$teal;}
.orange{background:$orange;}

h1,h2,h3,h4,h5,h6,p{color:$white; font-weight: 100;}

.embed-container{ @include border-radius(30px); overflow: hidden;}


	#desktop{ display: none;}
	#mobile{ display: block;}



.tiki-video{
	max-width: 960px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	.frame{ background:url("img/tiki.png") 0 0 no-repeat; position: absolute; left: 0; top:0; right:0; bottom:0; z-index: 0; background-size:100% 100%;}
	.video{padding:15% 15.3% 14.5% 18%;
		&:before {
			content: "";
			position: absolute;
			top: 20.5%;
			right: 14.2%;
			bottom: 19.8%;
			left: 16.7%;
			background: #fff;
			border-radius: 10px;
			box-shadow: inset 0 0 8px;
		}
		.embed-container{ @include border-radius(0px);}
	}
}

@media screen and (max-width:959px) {
	.tiki-video{
		margin-top:-300px
	}
}
@media screen and (max-width:767px) {
	.tiki-video{
		margin-top:-100px;
		margin-bottom:100px;
	}
}

// #primary{
	
	.owl-controls{
						.owl-nav{display:none;}
						.owl-dots{margin:0 auto; display:table; width:Auto; float:none;
							.owl-dot{background:#fff; width:10px; height:10px; @include border-radius(5px); float:left; margin:4px;}
							.owl-dot.active{background:$yellow;}
							
						}
					}
	
	
	
	
	
	#main{float:left; width:100%;
		 
		section{padding:6.4em 1em;}
		
		
		section.hero{position: relative; background:$blue; padding: 0px; align-items: center; justify-content:center; min-height:200px;
			#box{position:relative;border-radius:150px; overflow:hidden;
					#logovid, #logovid2{width:100%; max-width:1440px; margin: 0px auto 0 auto; display: table; }
				&:after{ box-shadow: inset 0 0 40px 20px rgb(1, 178, 196); content: none;position: absolute;top: 0;right: 0;left: 0;bottom: 0;border-radius: 150px;}
				}
			} 

		 
		 
		section.split-section{
			.bubbles-m{ position: absolute; left: 0; right:0; top:0; height: auto; width:100%; z-index: 0}
			.bubbles-d{ position: absolute; left: 0; right:0; top:0; height: auto; width:100%; z-index: 0; display: none;}
			.container{ z-index: 2;
				ul li, ol li{color:$white;}
				ul li ul{margin-top:0.8em; margin-bottom: 0.6em;}
				ul li ul li{font-size:0.9em; margin-bottom: 0.8em;;}
			}
			
			
			.tiki-video{margin-bottom: 3.2em; position: relative;
				.frame{ background:url("img/tiki.png") 0 0 no-repeat; position: absolute; left: 0; top:0; right:0; bottom:0; z-index: 0; background-size:100% 100%;}
				.video{padding:13% 14% 13% 17%;
					.embed-container{ @include border-radius(10px);}
				}
			}
			
			
			.fruit-wrap{ margin: 170px 0 150px 0; position: relative;
				.top{ position: absolute; z-index: 0;     position: absolute;z-index: 0;height: 310px;width: auto;top: -160px;right: 0;}
				.bottom{position: absolute;     z-index: 0;height: 160px;width: auto;bottom: -90px; left: -50px;}

				.fruitbox{border:8px solid #dba000; padding: 1.6em; width:100%; z-index: 1; position: relative; background:$yellow; @include border-radius(30px);
	
					
					ul{padding: 0px; margin: 0px; list-style: none;
						li{ padding: 0px; margin: 0px; text-align: center; width:100%; margin-bottom: 10px; color:$dpurple; padding-bottom: 40px; background: url("img/fruitbullet.png") bottom center no-repeat; background-size:50px 30px;
							&:nth-child(2){background: url("img/strawbullet.png") bottom center no-repeat;  background-size:50px 30px;}
							&:nth-child(3){background: url("img/brollybullet.png") bottom center no-repeat;  background-size:50px 30px;}
							&:nth-child(4){background: url("img/orangebullet.png") bottom center no-repeat;  background-size:50px 30px;}
						}
						
						
					}
					&:before{
					content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -3px;
    left: -5px;
    border: 3px solid #fff;
    border-radius: 26px;
    box-shadow: 0 0px 3px rgb(255,255,255);
					 animation: glow 3s infinite;}

@keyframes glow {
         0% {box-shadow: 0 0px 3px rgb(255, 255 ,255);}
        25% {box-shadow: 0 2px 3px rgb(255, 255, 255);}
		50% {box-shadow: -2px 0px 3px rgb(255, 255, 255);}
75% {box-shadow: 0px -2px 3px rgb(255, 255 ,255); }
    } 
				}
			}
			
			
			.comp-image{
				.comp-desktop{display:none;}
				.comp-mobile{display:block; width:100%; float:left; margin: 0.8em 0 1.6em 0;
					img{width:100%; float:left;}
				}
				h3, h2{text-align:Center; margin-bottom:0.8em;}
			}
			
			.dance{background: url("img/pop.png") 0 0 no-repeat; width:320px; height:219px; background-size:320px 219px; margin: 50px auto -300px auto; z-index: 2; position: relative; clear: both;  @include scale(0.75); 
				.greenbrolly{ position: absolute; left: -30px; width:200px; height:auto; top: 40px; }
				.pinkbrolly{ position: absolute; right: -30px; width:200px; height:auto; top: 10px; }
				.dance-inner{ padding: 3.6em; text-align: center;
					.h3{color:$white; font-size:3em; height: 55px; margin:0px; margin-top:-15px; margin-bottom: 10px;   -webkit-transform: rotate(-2deg);-moz-transform: rotate(-2deg);-o-transform: rotate(-2deg);transform: rotate(-2deg);-ms-transform: rotate(-2deg); text-shadow: -2px -2px 0 $dpurple,   2px -2px 0 $dpurple, -2px 2px 0 $dpurple, 2px 2px 0 $dpurple;}
					span.words{  font-size:3.2em; height: 160px; margin-top:-30px;    -webkit-transform: rotate(2deg);-moz-transform: rotate(2deg);-o-transform: rotate(-2deg);transform: rotate(2deg);-ms-transform: rotate(-2deg); 
						.word{color:$dpurple; line-height: 141px; text-shadow: -2px -2px 0 $yellow,   2px -2px 0 $yellow, -2px 2px 0 $yellow, 2px 2px 0 $yellow; text-transform: uppercase;}
					}
					.owl-controls{display:none;}
				} 
			}
			
		}
		
		section.grid-section{ 
			.container{
					.aux-iso {margin-top:-230px; min-width:320px; z-index: 2; position: relative; float:right; max-width: 260px; width:100%;}
				.gridy{ display:grid; grid-template-columns: 1fr;/*repeat(auto-fit, minmax(140px,1fr));*/  grid-gap: 1.6em; 
					.grid-item{@include border-radius(30px);  @include box_shadow(4); background:$yellow; padding: 1.6em;
						h1, h2, h3, h4, h5, h6, p{color:$dpurple;}
						&:last-child{background:$pink; 
							a{color:$dpurple;}
							h1, h2, h3, h4, h5, h6, p{color:$white;}
						}
					}
				}
				h2{ margin-bottom: 0.8em!important; margin-top:1.6em;}
			}
		}
		
		section.reviews{ padding-top: 5em;
			.container{
				.reviews-wrap{
					.review{ margin: 0 0 4.6em 0;
						.glasses{ max-width:180px; margin: 0 auto;}
						h4, cite{color:$dpurple; text-align: center; display: block;}
						h4{font-size:3em; line-height: 1em; margin-bottom: 0.4em;}
						cite{font-size:1.8em; width:100%;  line-height: 1.4em;  text-align: center; font-style: normal;}
						&:first-child{
							.glasses{max-width:240px;}
							h4{font-size:4em;}
							cite{font-size:2.6em; line-height: 1.2em;}
						}
					}
				}
			}
		}
		
		
		section.events{ padding-left:1.6em; padding-right:1.6em;
			.container{
								.cocan {margin-top:-250px; max-width:220px; z-index: 2; position: relative; float:left;  width:100%;}

				h2,p{ text-align: center;}
				h2{margin-top:1.6em;}
				.bubbles{ 
					.bubble{ cursor: pointer;position: relative; margin: 0 auto; float: none;display: table; width: 310px; margin-top:140px; outline:none;
						.iwrap{display:block;  @include border-radius(150px); overflow: hidden; width:300px; height:300px; -webkit-mask-image: -webkit-radial-gradient(white, black);}
						img.fimage{ border: 5px solid $white;}
						.moreinfo{text-align:center; color:$white; font-family:$headers; font-size:2em; position: absolute; top:45%; width:100%; z-index: 2; opacity: 0;}
						.h4{text-align:center; font-size:2em; color:#fff; display: block;}
						&:hover{
							img.fimage{opacity:0.2; @include scale(1.5);}
							.moreinfo{ top:40%; opacity: 1;}
							.bub{@include scale(1.05);}
						}
					}
					.bubble.bgreen{ 
						.iwrap{background:$green;}
						.bub{background: url("img/bub-green.png") 0 0 no-repeat; width:322px; height: 420px; background-size:322px 420px; position: absolute; left: -11px; top: -112px;}
					}
					.bubble.byellow{
						.iwrap{background:$yellow;}
						.bub{background: url("img/bub-yel.png") 0 0 no-repeat; width:324px; height: 428px; background-size:324px 428px; position: absolute; left: -11px; top: -117px;} 
					}
					.bubble.bpink{
						.iwrap{background:$pink;}
						.bub{background: url("img/bub-red.png") 0 0 no-repeat; width:322px; height: 410px; background-size:322px 410px; position: absolute; left: -11px; top: -98px;} 
					}
					.bubble.bblue{
						.iwrap{background:$blue;}
						.bub{background: url("img/bub-blue.png") 0 0 no-repeat; width:322px; height: 410px; background-size:322px 410px; position: absolute; left: -11px; top: -98px;} 
					}
				}
			}
		}
		
		
		section.faqs{ padding-bottom: 0px; padding-top:140px;
			.container{
				#faq-wrap{opacity:1; height:auto; @include transition(all, 0.4s, ease-in-out);}
				.search{max-width:500px; margin: 0 auto 40px auto;}
				.accordion__heading{ text-align: center; margin-bottom: 0.4em;}
				.helpie-faq.accordions .accordion{margin-top:0px;}
				.helpie-faq.accordions .search__input{@include border-radius(30px); height: 60px!important; border: none!important;}
				.helpie-faq.accordions {padding:0px!important;
					h3.collection-title{ display: none;}
					
				}
				.helpie-faq.accordions .accordion{@include border-radius(30px); overflow: hidden;
					.accordion__header { background-color: #4618c6!important; padding-top:10px!important; padding-bottom:10px!important;
    background-image: -webkit-gradient(linear, top, bottom, from(#6a3aef), to(#4618c6))!important;
    background-image: -webkit-linear-gradient(top, #6a3aef, #4618c6)!important;
    background-image: -moz-linear-gradient(top, #6a3aef, #4618c6)!important;
    background-image: -ms-linear-gradient(top, #6a3aef, #4618c6)!important;
    background-image: -o-linear-gradient(top, #6a3aef, #4618c6)!important;
    background-image: linear-gradient(top, #6a3aef, #4618c6)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6a3aef', EndColorStr='#4618c6'); 
					 .accordion__toggle .accordion__toggle-icons {color:$white!important;}
						.accordion__title{color:$white!important; font-weight:normal!important;} 
						&:hover{ background:$pink!important;}
					}
					.accordion__body{background:$yellow!important; padding-top:0px;
						p, li, ul{ list-style: none; padding:0px; font-size:0.9em!important; color:$dpurple!important; text-align: left!important; margin: 0.6em 0;}
					}
					
					
				}
				.pretz{margin-top:-220px; min-width:240px; z-index: 2; position: relative; float:right; max-width: 320px; width:100%; position: absolute; right:0px;}
				h2,p{ text-align: center;}
			}
		}
		
		
			section.calendar{ padding-bottom: 0px;
			.container{
				h2,p{ text-align: center;}
				.fc-toolbar{ max-width:400px; margin: 0 auto;
					.fc-left, .fc-right{padding-top:1em;
						button{background:$yellow; color:$dpurple;}
					}
					 .fc-center{padding:0.5em; @include border-radius(20px); background:$yellow; 
					h2{color: $dpurple; text-transform: uppercase;}
				}
			}
				}
		}
		
		
 
		
		section{float:left; width:100%; position: relative;
			.svg-paint-up{
				svg{position: absolute; left: 0px; right:0px; bottom:-1px; max-width:100%; height: auto;
					
				} 
			}
			.svg-paint-down{
				svg{position: absolute; left: 0px; right:-0px; bottom:-80px; height: 85px; width: 100%;  max-width:100%; z-index: 1; /* -moz-transform: scale(-1, -1);-o-transform: scale(-1, -1);-webkit-transform: scale(-1, -1); transform: scale(-1, -1); */
					.st0{fill:$blue;} 
				}
			}
			
	
		}
		
		section.purple{
				.svg-paint-down{
				svg{bottom:-100px; height: 105px; 
					.st0{fill:$dpurple;}
				}
			}
		}
		section.yellow{
				.svg-paint-down{
				svg{bottom:-100px; height: 105px;
					.st0{fill:$yellow;}
				}
			}
		}
		
				section.green{
				.svg-paint-down{
				svg{bottom:-100px; height: 105px;
					.st0{fill:$green;}
				}
			}
		}
		
		
					section.orange{
				.svg-paint-down{
				svg{bottom:-100px; height: 105px;
					.st0{fill:$orange;}
				}
			}
		}

		
		section.block-about{background:$blue;
			.container{
				> .inner{max-width:640px; margin: 0 auto; display: table; width:auto; float:none;
					
				}
			}
			
		}
		
		
		section.gallery-section{ padding: 6.4EM 1EM;
			.container{
				
				
			
				.gallery{
					.photo{
						a{border:15px solid $white; float:left; display: block; position: relative;   transform: rotate(1deg);  @include box_shadow(2);

							img{float:left; width:100%;}
							.h4{ position: absolute; left: -2px; bottom:-15px; right:-2px; text-align: center; padding: 10px; background:$white; margin: 0px; font-family: $hand; font-size:1em;}

							&:hover{
							-moz-transform: scale(1.1) rotate(1deg)!important; 
    -o-transform: scale(1.1) rotate(1deg)!important;
    -ms-transform: scale(1.1)  rotate(1deg)!important;
    -webkit-transform: scale(1.1)  rotate(1deg)!important;
    transform: scale(1.1)  rotate(1deg)!important;}
						}
						
					
					}
					.owl-photos{
					.owl-stage-outer{padding-top:100px; padding-bottom:20px;
						.owl-item{ padding: 5px; 
							&:nth-child(odd){  
							a{ transform: rotate(-1deg);
										&:hover{-moz-transform: scale(1.1) rotate(-2deg)!important; 
    -o-transform: scale(1.1) rotate(-1deg)!important;
    -ms-transform: scale(1.1)  rotate(-1deg)!important;
    -webkit-transform: scale(1.1)  rotate(-1deg)!important;
    transform: scale(1.1)  rotate(-1deg)!important;}
						} 
							 
						}
						}
					}
						
					}
				}
			}
		}
		
		
		
		section.foot{ padding: 0px;
			.container{ z-index: 1;
				.nl-img{width:180px; margin: -1.6em 3.2em 0 3.2em ;}
				.nl{padding:1.6em 3.2em 1.6em 3.2em;
					h1,h2,h3{color:$dpurple;}
					h2{font-size:2.8em}
				} 
				.mailchimp{width:100%; float:left; 
					.mc4wp-form{width:100%; float:left; 
						.fieldwrap{width:100%; float:left; padding:5px 0;
							label{font-family: $headers; color:$dpurple; width:80px; padding: 0 20px 0 0; font-size:1.6em; float:left; display:block;}
							input{padding:15px; border:none; @include border-radius(20px); width: calc(100% - 80px); float:right;}
							input[type=submit]{ width:100px; float:right; background:$dpurple; color:$white; font-family:$headers; font-size:1.6em; padding:10px;}
						}
					}
				}
			}
		}


		;
		section.foot-2{ padding:10em 3.2em 1.6em 3.2em; background:$dpurple;
			
			.container{
				.social-wrap{
					padding:1.6em 0;
					h3{color:$white;}
					.social-inner{ padding-top:0.8em;
						a{color:$yellow; font-size:4em;
							i{padding:0px;}
						}
					}
				}

				.spacer{height:40px;}
				.b-img{max-width:200px; margin-top:-100px;}
				.p-img{max-width:140px; margin-top:-30px; float:right;}
				
				.col{
					ul, ol{ list-style: none; padding:0px; margin:0px;
						li{ padding: 0px; margin: 0px; 
							a{color:$yellow; font-size:0.9em;} 
						}
					}
				}
			 
			}
		}
		
		
		
		section.hero-content{padding-top:100px; padding: 7.4em 3.2em 7.4em 3.2em;
			.container{
				
				.content{max-width:600px;}
			}
		}
		
		section.hero-blank{padding:2.6em 3.2em;}
		
		section.simple-split{
			.container{padding-top:30px;
					.aux-iso { min-width:200px; z-index: 2; position: relative; float:right; max-width: 260px; width:100%; position: absolute; right:3.2em; top:-230px;}
						.content-top{ width:100%; max-width:700px;}
						.content-left, .content-r{width:100%;
							ul{ margin-left: 0.8em;}
						}
				}
			}
		
		
		section.wide-basic{ padding: 9.4em 3.2em 4.2em 3.2em;
			.container{
				.rower{width:100%; display:grid;  grid-template-columns: 1fr;/*repeat(auto-fit, minmax(140px,1fr));*/  }
				.rower-2{width:60%; margin-left:40%;}
				.aux-iso{top:-110px; max-width:200px; min-width:200px; right:25%;}
				.content-wrap{padding-top:60px; }
				ul{ margin-top:1.6em;
					li{color:$white;}
				}
			}
		}
		
 		
		section.wide-basic.image-isnt{ padding: 3.2em 3.2em 4.2em 3.2em;

		}

		
		
	}
// } 






	@media screen and (min-width:$tablet-380) {

		.home{
			
		#masthead{
			.site-branding{
				.social{ display: block!important;  position: absolute; top:23px; left: 84px; 
					
					
				} 
			}
		}
		}
			
			

		


} 

  

@media screen and (min-width:$tablet-mid) {



		
	#masthead .site-branding .book{width:195px!important;}
 		#masthead{
			.site-branding{
				.social{ display: block!important;  position: fixed; top:23px; left: 84px; 
					a{
						&:last-child{display:inline;}
					}
				}
			}
		}
} 






@media screen and (min-width:$tablet-large) {
	
	#desktop{ display: block;}
	#mobile{ display: none;}

#masthead.shrink{ padding-bottom: 0em; 
	img{ display: block!important;}
}

	
		.h1{font-size:2.4em!important;}

		
	// #primary{
		// #main{
			section.hero{
				.container{
					#box{
						&:after{box-shadow: inset 0 0 20px 50px rgb(1 ,178, 196);}
					}
				}
			}
			section.split-section{
			.dance{background: url("img/pop.png") 0 0 no-repeat; width:380px; height:249px; background-size:380px 249px; margin: 50px auto -300px auto; z-index: 2; position: relative; clear: both; @include scale(1);
				.greenbrolly{ position: absolute; left: -70px; width:200px; height:auto; top: 40px; }
				.pinkbrolly{ position: absolute; right: -70px; width:200px; height:auto; top: 10px; }
				.dance-inner{ padding: 3.6em; text-align: center;
					.h3{color:$white; font-size:3em; height: 55px; text-shadow: -2px -2px 0 $dpurple,   2px -2px 0 $dpurple, -2px 2px 0 $dpurple, 2px 2px 0 $dpurple;}
					span.words{  font-size:3.2em; height: 160px;    
						.word{color:$dpurple; line-height: 141px; text-shadow: -2px -2px 0 $yellow,   2px -2px 0 $yellow, -2px 2px 0 $yellow, 2px 2px 0 $yellow;}
					}
					.owl-controls{display:none;}
				} 
			}
				.bubbles-m{ position: absolute; left: 0; right:0; top:0; height: auto; width:100%; z-index: 0;  display: none;}
				.bubbles-d{ position: absolute; left: 0; right:0; top:0; height: auto; width:100%; z-index: 0;  display: block;}
			}
			
			

				 
		section.foot{ 
			.container{
				.nl-img{width:27%; float: left; margin: 0px; margin-top:0px; margin-left:1.6em; }
				.nl{width:70%; float: left; margin-top: 100px;
				}
			}
		}
			
			
			
		section.foot-2{ 
			.container{
				.col{width:25%; float:left;
				
				}
			 
			}
		}

					section.wide-basic{ 
			.container{
				.rower{  grid-template-columns: 1fr 1fr;  grid-gap: 1.6em; margin-bottom: 1.6em; margin-top:1.6em;}
				
			}
		}
			
			
		// }
	// }
 
}

@media screen and (min-width:$tablet-961) {
	.home #primary #main section.hero{min-height:650px;}
}

@media screen and (min-width:$tablet-wide) {
	#primary #main section.faqs .container .pretz{margin-top:-160px; }

.home {
	#masthead.shrink{
		.site-branding{
			.social{display:block!important;}
			
			.site-logo{
				.site-title{
					img{display:block;}
				}
			}
		}
	}
}
	


	#masthead.shrink{
		.site-branding{
			.social{display:block!important;}
		
		}
	}
	 
	// #primary{
		// #main{
			section{ padding: 10em 3.2em;
				.svg-paint-down svg{ height:145px; bottom:-140px;}
			}
			section.purple{  
				.svg-paint-down{
					svg{ bottom: -170px; height: 175px;}
				}
			}
			section.yellow{  
				.svg-paint-down{
					svg{ bottom: -170px; height: 175px;}
				}
			}
			section.green{  
				.svg-paint-down{
					svg{ bottom: -170px; height: 175px;}
				}
			}
			section.orange{  
				.svg-paint-down{
					svg{ bottom: -170px; height: 175px;}
				}
			}
			
			section.split-section{padding-bottom: 0px;
				.container{
					.content-left{width:60%; float:left; padding-right: 5em;}
					.fruit-wrap{width:40%; float:left; margin:170px 0 200px 0;
						.top{height:350px; top:-170px;}
						.bottom{height:180px; bottom:-80px;}
					}
					
					
							.comp-image{
				.comp-desktop{display:block; width:100%; float:left; margin: 0 0 3.2em 0;
								img{width:100%; float:left;}
								}
				.comp-mobile{display:none;
					img{width:100%; float:left;}
				}
			}
					.dance{ @include scale(1.15);
						.greenbrolly{left:-130px;}
						.pinkbrolly{right:-130px;}
					}
				}
			}
			
			section.grid-section{padding-bottom:6.4em;
				.container{	
					.aux-iso {margin-top:-320px;max-width: 400px; }
				}
			}
			
			section.reviews{padding-bottom:4em; padding-top:12em;
				.review{width:50%; float:left;}
				.review:first-child{width:100%;}
			}
			
			section.events{ padding-bottom: 3em; padding-top:100px;
				.container{
					.bubbles{
						.wrapit{ margin: 0; float:left; width:50%;} 
					}
				}
			}
			
			section.faqs{padding-top:140px; padding-bottom: 0px;
				.contianer{
					.pretz{margin-top:-160px; }  
				}
			}
			
					section.grid-section{ 
			.container{
				.gridy{grid-template-columns: 1fr 1fr;/*repeat(auto-fit, minmax(140px,1fr));*/  
					.grid-item{
						&:last-child{grid-column-end: span 2;}
					}
				
				}
				h2{ margin-bottom: 0.8em; margin-top:1.6em;}
			}
		
			}
			
			
			section.wide-basic{
					padding-top:90px; padding-bottom: 0px;
				.container{
					.aux-iso{top:-120px; max-width:260px; right:3em;}
				}
				
			}
			
			
			
					
		section.simple-split{
			.container{
						.content-left, .content-r{width:50%; float:left; padding: 0px;
							ul{width:100%;  margin-left: 0.8em;}
						}
				.content-left{padding-right:1.6em;}
				.content-r{padding-left:1.6em;
					ul{float:left; padding-left:2em!important;}
				}
				}
			} 
			
			
			
			section.foot{
				.container{
					.nl{
						h2{font-size:3.4em!important;}
					}
						.mailchimp{ 
					.mc4wp-form{
						.fieldwrap{
							label{font-size:2em; width:100px;} 
							input{ width: calc(100% - 100px); }

						}
					}
				}
				}
			}
		

			
		// }
	// }
	
	
		

 
}




@media screen and (min-width:$screen-small) {
	// #primary{
		// #main{
				
	
		section.gallery-section{
			> .container{ padding: 0 1.6em;
				
				.owl-dots{display:none!important;}
				.owl-nav{ display: block!important;
							.owl-prev{ position: absolute; left: -10px; top:55%; width:40px; height:40px; display:block; background:url("img/left.png"); text-indent: -10000px; background-size:40px 40px;  overflow: hidden;}
							.owl-next{ position: absolute; right: -10px; top:55%; width:40px; height:40px; display:block; background:url("img/right.png"); text-indent:-10000px; background-size:40px 40px; overflow:hidden;}
						}
			
				.gallery{
					.photo{
						a{border:15px solid $white; @include box_shadow(3); float:left; display: block; position: relative;   transform: rotate(7deg);

							img{float:left; width:100%;}
							.h4{ position: absolute; left: -2px; bottom:-15px; right:-2px; text-align: center; padding: 10px; background:$white; margin: 0px; font-family: $hand; font-size:0.9em;}

			
						}
						 
					
					}
					.owl-photos{ 
					.owl-stage-outer{padding-top:100px; padding-bottom:20px;
						.owl-item{ padding: 10px;
							&:nth-child(odd){ 
							a{ transform: rotate(-7deg);}
						}
						}
					}
				}
				}
			}
		}
		
	
		// }
	// }
}




@media screen and (min-width:$screen-large) {
	
	
	
.home	#primary #main section.hero{min-height:670px;}

	
	
	
	
	// #primary{
		// #main{
				section.events{ 
				.container{
					.bubbles{
						.wrapit{  width:25%;}
						.wrapit.wyellow, .wrapit.wblue{padding-top:150px;}
					}
				}
			}
	
		
		// }
	// }
}
 

@media screen and (min-width:$screen-xl) { 
	
.home	#primary #main section.hero{min-height:790px;}


}
 



/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	@include border-radius(3px);
	@include box_shadow(1);
      &:hover {
         @include box_shadow(3);
          -webkit-transform: translateY(-5px);
          -moz-transform: translateY(-5px);
          transform: translateY(-5px);
 			  }
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
 
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}



/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


footer#colophon{ padding:0.8em 3.2em; float:left; width:100%; background:$lpurple; 

	section.site-info{text-align: center;color:$white;
		.left{ width:100%; float:left;
			.copyright{font-size:0.7em!important;float:left; width:auto; text-transform: uppercase; font-size:0.8em; letter-spacing: 0.08em; line-height: 1.3em; padding: 5px;  padding-left: 0.5em; text-align: center; width:100%; color:$white;
				a{ color: $white; text-decoration: underline;}  
			}
			
			
		}
		.right{ float: right; width:100%; float:left; 
			p{text-transform: uppercase; font-size:0.6em; text-align: center; letter-spacing: 0.08em; } 
		}
		
		.social{float: left; display: block; width:100%; float:left; padding:10px;
			a{color:$white; font-size: 2em; font-weight: 100;} 
		}
		p{margin:0px; font-size:0.8em; text-align: center;
			a{ color: $white;  text-decoration: underline;} 
		}
	}
} 








/*--------------------------------------------------------------
## Global
--------------------------------------------------------------*/
.container {
  margin-right: auto;
  margin-left: auto;
	max-width:1200px;   
	position: relative;
}




/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
	clear: both;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}



/*--------------------------------------------------------------
# GRID
--------------------------------------------------------------*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10;
  padding-right: 10;
}
.row {
  margin-left: -10;
  margin-right: -10;
}

.container {
  margin-right: auto;
  margin-left: auto;
	max-width:1200px;   
	position: relative;
}
 


.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
	height:0!important; overflow: hidden; opacity: 0; @include transition(all, 0.4s, ease-in-out);
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}





/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.gfield_description.validation_message.message_id_input_1_4{display:none!important;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */font-family: $primary; color: #9b9b9b; font-style: italic;}
::-moz-placeholder { /* Firefox 19+ */font-family: $primary; color: #9b9b9b; color: #9b9b9b; font-style: italic;}
:-ms-input-placeholder { /* IE 10+ */font-family: $primary; color: #9b9b9b; color: #9b9b9b; font-style: italic;} 
:-moz-placeholder { /* Firefox 18- */font-family: $primary; color: #9b9b9b; color: #9b9b9b; font-style: italic;}
body .gform_wrapper .top_label div.ginput_container{margin-top:2px!important;}
.gform_wrapper{width:100%; margin: 0px!important;  padding: 0em;  width:100%; background: transparent; max-width:720px; margin: 0 auto!important; 
	form{float:left; width:100%; background: transparent;  border: none!important ; padding:0 0 3.2em 0; 
		.gform_body{float:left; width:100%; 
			fieldset{
				legend{display:none;}
			}
			ul{margin:0px!important; float:left; width:100%; padding:0px!important; list-style: none;
				li{ position: relative;margin: 0px; padding-right:0px!important; margin-bottom: 0em!important; float:left; width:100%; margin-top:0px!important;
					legend{display:none!important;
						.gfield_required{ color: $pink; font-size:1.2em; padding: 0.3em; font-weight: 800;}
					}
					div.ginput_container{padding-top:0px!important; margin-top:0px!important; 
						input,textarea, select{background: #fff; height:60px; width:100%; font-family: $primary; color: $dkgrey;font-size:1em!important; border: none; @include border-radius(4px); padding: 1em!important; margin-bottom: 1.1em; }
						textarea{height:150px; margin-bottom: 0px;}
						select{ color: $blue; margin-bottom: 0px!important; }
						input.LV_invalid_field, textarea.LV_invalid_field{background: #ffc5c5; }
						div.gform_fileupload_multifile{ 
							.gform_drop_area{ margin-top:0.8em; background:$blue; border:$dkblue 1px solid;
								input{ margin-bottom: 0px;}   
							} 
						} 
					}
					div.ginput_container_checkbox{margin-top:0px!important; 
						ul{ 
							li { width:100%; float:left; position: relative; 
								label {display: block; font-size:0.9em; line-height: 1em; padding: 0 0 0 55px; line-height: 1.4em; text-transform: none; min-height: 45px; 
									a{ color: $blue;}  
									  
									&:after {content:""; background:darken( $ltgrey, 3% );    width:35px;height:35px;display:block;position: absolute;left:0;top:0;border-radius:3px;z-index: 0; margin:4px 0 0 0!important;}
									&:before {content:"";display:block;position: absolute;width: 20px;height: 20px; @include border-radius(3px);  border: solid $blue; background: $blue;  left:8px!important; top: 12px!important;   opacity:0; z-index:1; transition:all 100ms;
									}   
								}  
								 
							}
							input[type="checkbox"] {opacity:0; outline:none; z-index:100; width:35px; height:35px; top:0; left:0; position: absolute; appearance: none; cursor: pointer;
								+ label { cursor: pointer;}    
								&:checked + label { 
									&:before {opacity:1;top: 3px; } 
								}
							}
						}
					} 
					
						div.ginput_container_radio{
						ul{  
							li { width:50%; float:left; position: relative; 
								label {display: block; font-size:0.8em; line-height: 1em; padding: 0 0 0 55px; line-height: 1.4em; text-transform: none;   height: 45px;  
									a{ color: $blue;}  
									  
									&:after {content:""; background:$ltgrey;    width:35px;height:35px;display:block;position: absolute;left:0;top:0;@include border-radius(17.5px);z-index: 0;}
									&:before {content:"";display:block;position: absolute;width: 20px;height: 20px; @include border-radius(10px);  border: solid $blue; background: $blue;  left:8px!important; top: 7px!important;   opacity:0; z-index:1; transition:all 100ms;
									} 
								}  
								 
							}
							
							input[type="radio"] {opacity:0; outline:none; z-index:100; width:35px; height:35px; top:0; left:0; position: absolute; appearance: none; cursor: pointer;
								+ label { cursor: pointer; padding: 6px 0 0 40px;}    
								&:checked + label {
									&:before {opacity:1;top: 3px;}
								}
							}
						}
					}
					
					
					
				&:before{display:none!important;}
					.gfield_description, .gform_drop_instructions{font-size:0.7em; font-style:italic; position: absolute; top:-13px; text-align:center; bottom:-3px; position: relative;} 
					.gfield_description{bottom:-10px!important; text-align: center; left: 0px; padding: 0px; margin:0px;}
				}
				li.showlabel{ margin-top: 0.8em!important;
					label{display:block!important;}
					div.ginput_container{
						.gfield_checkbox{
							li{margin-bottom: 0.8em!important;}
						}
					}
				}

				
				
				
				
				li.no-label{
					> label{display:none;}
				}
				li.no-star{
					label{
						.gfield_required{display:none!important;}
					}
				}
				li.gfield_html_formatted{ margin-bottom: 0px;
					p{font-size:0.8em;	margin:0px;} 
				}
				 
			}
		}
		.gform_footer{ float:none; margin:0 auto; display:table; width:auto;
			button{ outline:none!important; background:$ltblue; border:none; color:$white; text-transform: capitalize; padding: 5px 10px; font-weight: 600; letter-spacing: 0.07em;
				/*		
				button{ background:none; border:none; font-family:$script!important; font-size:4.5em; color: $black; margin-top:-40px;
				span.s{font-size:2.8em; position: relative; bottom:-20px;}  
				&:after{background: url("img/send.png") 0 0 no-repeat; position: absolute; left: 3px; bottom:-54px; content: ""; display: block; width:310px; height:89px; background-size:310px auto; z-index: -1} */
			}
		} 
	} 
}

.gform_wrapper.gravity-theme .gfield_label{ display: none!important;}
.gform_wrapper.gravity-theme input[type=color], .gform_wrapper.gravity-theme input[type=date], .gform_wrapper.gravity-theme input[type=datetime-local], .gform_wrapper.gravity-theme input[type=datetime], .gform_wrapper.gravity-theme input[type=email], .gform_wrapper.gravity-theme input[type=month], .gform_wrapper.gravity-theme input[type=number], .gform_wrapper.gravity-theme input[type=password], .gform_wrapper.gravity-theme input[type=search], .gform_wrapper.gravity-theme input[type=tel], .gform_wrapper.gravity-theme input[type=text], .gform_wrapper.gravity-theme input[type=time], .gform_wrapper.gravity-theme input[type=url], .gform_wrapper.gravity-theme input[type=week], .gform_wrapper.gravity-theme select, .gform_wrapper.gravity-theme textarea{padding:20px!important; @include border-radius(20px); outline:none!important;}
.gform_wrapper.gravity-theme .ginput_complex label, .gform_wrapper.gravity-theme .ginput_complex legend{ display:none!important;}
.gform_wrapper form .gform_footer button{background:$pink; font-size:1.8em; padding:10px 20px; font-family: $headers;  @include border-radius(20px);  margin: 0 auto; display: table; width:180px; text-align: center; float:none;
	&:hover{background:$yellow;}
} 
.fab {padding:0 5px;}
 
.gform_wrapper .gform_validation_errors{border:1.5px solid $pink!important; background:$pink!important;  @include border-radius(20px); 
	h2{color:$white!important; font-size:1.4em!important; } 
} 
.gform_wrapper .gfield_error [aria-invalid=true]{border:1px solid $pink!important;}
.gform_wrapper .gfield_validation_message, .gform_wrapper .validation_message{border:1.5px solid $pink!important; background:$pink!important; color:$white!important;padding-top:13px!important; @include border-radius(20px); font-size:0.8em!important; }

.gform_wrapper.gravity-theme .description, .gform_wrapper.gravity-theme .gfield_description, .gform_wrapper.gravity-theme .gsection_description, .gform_wrapper.gravity-theme .instruction{padding-top:13px!important;}
.gform_wrapper form .gform_footer{ margin: 0 auto!important;}
.home{
	.gform_wrapper{
	form{
		.gform_body{
			ul{
				li{ 
				
					div.ginput_container{
						input,textarea, select{background: #cee2ec;  }
					}

					
					
					
				}
		
				 
			}
		}
	
	} 
}



}



.gform_confirmation_wrapper {float:left; width:100%; text-align :left!important; color: $green!important; @include box_shadow(1); border:none!important; border-left:5px solid $green!important; font-weight: 300!important; font-size:1em; padding: 10px!important; margin-bottom: 1.6em;}

.gform_validation_error{
	form{
		.validation_error{ float:left; width:100%; text-align:left!important; background:$white; color: $pink!important; @include box_shadow(1); border:none!important; border-left:5px solid $pink!important; font-weight: 300!important; font-size:1em; padding: 10px!important; margin-bottom: 1.6em; }  
		.gform_body{
			ul{ 
				li{
					.ginput_container{ 
						input{border:1px solid $pink!important;} 
					}
					.gfield_description.validation_message{ color: $pink; font-size:0.8em; font-style: italic;}
				}
			}
		} 
	 
	}
}  

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{background:none!important; border: none!important; padding: 0px!important; }

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label{max-width:98%!important;}

.gform_wrapper .ginput_container span:not(.ginput_price){margin-bottom:2px!important;}
.gform_wrapper .gfield_error .gfield_label, .gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio { color: $pink!important;}
 .gform_wrapper li.gfield_error a { color: $pink!important; text-decoration: underline;}

.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){max-width:100%!important;}



#primary{
	.gform_wrapper .name_first{margin-bottom:19px!important;}

}


@media screen and (min-width:$tablet-641) {
#primary{
	.gform_wrapper .name_first{margin-bottom:0px!important;}

}

 
} 



@media screen and (min-width:$tablet-mid) {
	body .gform_wrapper .top_label div.ginput_container{padding-top:5px; padding-bottom:5px;}
	.ginput_complex{padding-top:0px!important; padding-bottom: 0px!important;
		span.ginput_full{display:block;padding:5px 0;}
		span.ginput_left{display:block;padding:5px 0;}
		span.ginput_right{display:block;padding:5px 0;} 
	}
 
} 


@media screen and (min-width:$tablet-large) {
	
	 
	.gform_wrapper ul.gform_fields li.title{width:20%; float:left; clear: none; padding-right: 10px!important;}
	.gform_wrapper ul.gform_fields li.name, .gform_wrapper ul.gform_fields li.surname{width:40%;  float:left; clear: none;}
	 .gform_wrapper ul.gform_fields li.surname{padding-left:10px!important;}
	
	
	
} 

.pure-table{width:100%; overflow: scroll;
    border: solid 1px $white;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.7em;
	line-height: 1.4em;
}
.pure-table thead th {
   
     border: solid 1px $white;
    color: $white;
    padding: 10px;
    text-align: left;
}
.pure-table tbody td {
     border: solid 1px $white;
    color: $white;
    padding: 10px;
}

#ncf_sidebar .ncf_userpic img{ display: none; }
#ncf_sidebar.ncf_minimalistic .ncf_user_credentials{ display: none;}
#ncf_sidebar .ncf_sidebar_header_userinfo{content: url(img/MRTIPSY-logo.png); width:100%; height: auto;}  
#ncf_sidebar.ncf_minimalistic .ncf_userpic{ padding: 0px!important;}
/* ------------------------------------------------------------ *\
  Load More
\* ------------------------------------------------------------ */


#wt-cli-privacy-title{color:$dpurple;}


.load-more { text-align: center; font-family: "Source Sans Pro", sans-serif; font-weight: 900; color: #0f3c5b; padding: 30px 0; font-size: 26px; text-transform: uppercase; }
.js-load.clicked { opacity: 0; visibility: hidden; }

.prev-posts-link,
.loading-image-container { text-align: center; } 
.loading-image, 
.hidden-message { display: none; }
#lightcase-case:not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap{padding:0px!important;}

.lightcase-inlineWrap strong{ text-decoration: underline;}
#lightcase-overlay{ opacity: 0.8!important; z-index: 4;} 
#lightcase-content{ @include box_shadow(4);}
#lightcase-content  h3{font-size:2.5em!important; margin-top:0px; margin-bottom: 20px!important; color: $white!important;}
#lightcase-content p{ color: $white!important;  font-size:1.2em; font-family:$primary;}
#overlay-1, #photo-overlay-1, #photo-overlay-5{background:$green; padding: 30px; @include border-radius(20px); }
#overlay-2, #photo-overlay-2, #photo-overlay-6, #photo-overlay-9, #refunds, #refunds2{background:$yellow; padding: 30px;
	H3,P{COLOR:$dpurple!important;}
} 
#overlay-3, #photo-overlay-3, #photo-overlay-7{background:$pink; padding: 30px; @include border-radius(20px);}
#overlay-4, #photo-overlay-4, #photo-overlay-8{background:$blue; padding: 30px; @include border-radius(20px);}
.icon-close{display:none!important; opacity: 0!important;     BACKGROUND: RGBA(255,255,255,0.3); width:30px; height:30px;
    /* COLOR: BLACK; */
    BORDER-RADIUS: 100%;} 
#overlay-1, #overlay-2, #overlay-3, #overlay-4, #overlay-5, #overlay-6, #overlay-7, #overlay-8, #overlay-9, #overlay-10{@include border-radius(20px);
	.icon-close{ position: absolute; right:20px; top:20px; display: block!important; opacity: 1!important; 
		p{}
	}
} 

#photo-overlay-1, #photo-overlay-2, #photo-overlay-3, #photo-overlay-4, #photo-overlay-5, #photo-overlay-6, #photo-overlay-7, #photo-overlay-8, #photo-overlay-9, #photo-overlay-10, #refunds, #refunds2{@include border-radius(20px);
	.icon-close{ position: absolute; right:20px; top:20px; display: block!important; opacity: 1!important; 
		p{}
	}
} 

.lightcase-icon-close{ display: none!important;}


#lightcase-case{text-shadow:none!important;}

#lightcase-info #lightcase-sequenceInfo{text-align:center!important; padding:1.6em 0;} 


#clickit{color:$dpurple; font-weight: bold; text-decoration: underline; cursor: pointer;
	&:hover{color:$pink;}
}
	.desktop{display:none!important;} 
	.mobile{display:table!important;margin-top:0px!important;}



	#lightcase-case{@include border-radius(25px); overflow: hidden;  }  
	#photo-overlay-1, #photo-overlay-2, #photo-overlay-3, #photo-overlay-4, #photo-overlay-5, #photo-overlay-6, #photo-overlay-7, #photo-overlay-8, #photo-overlay-9, #photo-overlay-10{@include border-radius(25px); overflow: hidden; border:4px solid $dpurple!important; text-shadow:none!important;}

	#overlay-1, #overlay-2, #overlay-3, #overlay-4, #overlay-5, #overlay-6, #overlay-7, #overlay-8, #overlay-9, #overlay-10{@include border-radius(25px); overflow: hidden; border:4px solid $dpurple!important; text-shadow:none!important;}


#photo-overlay-1, #photo-overlay-2, #photo-overlay-3, #photo-overlay-4, #photo-overlay-5, #photo-overlay-6, #photo-overlay-7, #photo-overlay-8, #photo-overlay-9, #photo-overlay-10{
	h3{text-align: center;}
	.box{width:230px; margin: 0 auto; margin-bottom: 20px; @include border-radius(10px); border:5px solid $white; overflow: hidden;
		img{float:left;}
	}
	.copy{
		h3,p{text-align:center;}
	}
}

 

@media (min-width:961px)  {
	
	
	#photo-overlay-1, #photo-overlay-2, #photo-overlay-3, #photo-overlay-4, #photo-overlay-5, #photo-overlay-6, #photo-overlay-7, #photo-overlay-8, #photo-overlay-9, #photo-overlay-10{
		h3{text-align:left;}
	.box{width:180px; margin: 0 auto; margin-bottom: 20px; @include border-radius(10px); overflow: hidden; float:left; margin:0px;
		img{float:left;}
	}
	.copy{width:calc(100% - 180px); float:left; padding-left:30px;
		h3,p{text-align:left;}
		p{font-size:1.4em;}
	}
}


	.mobile{display:none!important;}
	.desktop{display:table!important;}
}

#lightcase-info #lightcase-sequenceInfo{ display: none!important;}


.see-calendar{width:100%; margin: 0px!important;}
.calendar{padding-left:0.8em!important; padding-right:0.8em!important;}



.keywords{display:none;}


// New footer encapusalted code (so it can be reused on pages that arent the homepage

// section.foot{ padding: 0px;
// 			.container{ z-index: 1;
// 				.nl-img{width:180px; margin: -1.6em 3.2em 0 3.2em ;}
// 				.nl{padding:1.6em 3.2em 1.6em 3.2em;
// 					h1,h2,h3{color:$dpurple;}
// 					h2{font-size:2.8em}
// 				} 
// 				.mailchimp{width:100%; float:left; 
// 					.mc4wp-form{width:100%; float:left; 
// 						.fieldwrap{width:100%; float:left; padding:5px 0;
// 							label{font-family: $headers; color:$dpurple; width:80px; padding: 0 20px 0 0; font-size:1.6em; float:left; display:block;}
// 							input{padding:15px; border:none; @include border-radius(20px); width: calc(100% - 80px); float:right;}
// 							input[type=submit]{ width:100px; float:right; background:$dpurple; color:$white; font-family:$headers; font-size:1.6em; padding:10px;}
// 						}
// 					}
// 				}
// 			}
// 		}

// 		section.foot{ padding: 0px;
// 			.container{ z-index: 1;
// 				.nl-img{width:180px; margin: -1.6em 3.2em 0 3.2em ;}
// 				.nl{padding:1.6em 3.2em 1.6em 3.2em;
// 					h1,h2,h3{color:$dpurple;}
// 					h2{font-size:2.8em}
// 				} 
// 				.mailchimp{width:100%; float:left; 
// 					.mc4wp-form{width:100%; float:left; 
// 						.fieldwrap{width:100%; float:left; padding:5px 0;
// 							label{font-family: $headers; color:$dpurple; width:80px; padding: 0 20px 0 0; font-size:1.6em; float:left; display:block;}
// 							input{padding:15px; border:none; @include border-radius(20px); width: calc(100% - 80px); float:right;}
// 							input[type=submit]{ width:100px; float:right; background:$dpurple; color:$white; font-family:$headers; font-size:1.6em; padding:10px;}
// 						}
// 					}
// 				}
// 			}
// 		}

// 		section.foot{ 
// 			.container{
// 				.nl-img{width:27%; float: left; margin: 0px; margin-top:0px; margin-left:1.6em; }
// 				.nl{width:70%; float: left; margin-top: 100px;
// 				}
// 			}
// 		}

// 		section.foot-2{ 
// 			.container{
// 				.col{width:25%; float:left;
				
// 				}
			 
// 			}
// 		}

// 		section.foot{
// 			.container{
// 				.nl{
// 					h2{font-size:3.4em!important;}
// 				}
// 					.mailchimp{ 
// 				.mc4wp-form{
// 					.fieldwrap{
// 						label{font-size:2em; width:100px;} 
// 						input{ width: calc(100% - 100px); }

// 					}
// 				}
// 			}
// 			}
// 		}

section.foot{ padding: 0px;
	.container{ z-index: 1;
		.nl-img{width:180px; margin: -1.6em 3.2em 0 3.2em ;}
		.nl{padding:1.6em 3.2em 1.6em 3.2em;
			h1,h2,h3{color:$dpurple;}
			h2{font-size:2.8em}
		} 
		.mailchimp{width:100%; float:left; 
			.mc4wp-form{width:100%; float:left; 
				.fieldwrap{width:100%; float:left; padding:5px 0;
					label{font-family: $headers; color:$dpurple; width:80px; padding: 0 20px 0 0; font-size:1.6em; float:left; display:block;}
					input{padding:15px; border:none; @include border-radius(20px); width: calc(100% - 80px); float:right;}
					input[type=submit]{ width:100px; float:right; background:$dpurple; color:$white; font-family:$headers; font-size:1.6em; padding:10px;}
				}
			}
		}
	}
}

section.foot-2{ padding:10em 3.2em 1.6em 3.2em; background:$dpurple;
			
	.container{
		.social-wrap{
			padding:1.6em 0;
			h3{color:$white;}
			.social-inner{ padding-top:0.8em;
				a{color:$yellow; font-size:4em;
					i{padding:0px;}
				}
			}
		}

		.spacer{height:40px;}
		.b-img{max-width:200px; margin-top:-100px;}
		.p-img{max-width:140px; margin-top:-30px; float:right;}
		
		.col{
			ul, ol{ list-style: none; padding:0px; margin:0px;
				li{ padding: 0px; margin: 0px; 
					a{color:$yellow; font-size:0.9em;} 
				}
			}
		}
	 
	}
}

section{float:left; width:100%; position: relative;
	.svg-paint-up{
		svg{position: absolute; left: 0px; right:0px; bottom:-1px; max-width:100%; height: auto;
			
		} 
	}
	.svg-paint-down{
		svg{position: absolute; left: 0px; right:-0px; bottom:-80px; height: 85px; width: 100%;  max-width:100%; z-index: 1; /* -moz-transform: scale(-1, -1);-o-transform: scale(-1, -1);-webkit-transform: scale(-1, -1); transform: scale(-1, -1); */
			.st0{fill:$blue;} 
		}
	}
}


// Event custom post type styles

.event-title {
	// color: $black;
	text-align: center;
	// padding-top: 85px;
}

.archive-events {
	.page-header {
		.container {
			text-align: center;
			padding-top: 6em;
			padding-bottom: 3em;

			.archive-hero-image {
				margin: auto;
				margin-bottom: 2em;
				// height: 375px;
				// width: 600px;
			}
		}
	}
}

.event-text {
	margin-right: auto;
	width: 50%;
}

.hero.single-events {
	padding: 0;
    padding-top: 6em;
}

.event-container {
	display: flex;
	flex-direction: column;
	width: 100%;
    // margin: 0 auto;

	
	.single-event {
		display: flex;
		flex-direction: column;
		@media screen and (min-width:$tablet-wide) {
			flex-direction: row;
		}
		padding: 6.4em 5em !important;
		a {
			margin-right: 2em;
		}

		// .owl-carousel .owl-stage-outer, a {
		
		// 	height: 250px;
		// 	width: 500px;
		// }
	}
	.owl-carousel .owl-item {
		margin: auto;
		height: 200px;
		width: 500px;

		@media screen and (min-width: $tablet-mid) {
			height: 300px;
			width: 500px;
		}
		img {
			margin: auto;
			height: 300px;
			width: 500px;	
			@media screen and (min-width: $tablet-mid) {
				height: 300px;
				width: 500px;
			}
		}
	}

	// a img {
	// 	// width: 2000px;
	// 	height: 300px;
	// 	width: 500px!important;
	// }

	.image-a {
		overflow: hidden;
		flex: 0 1 50%;

		.owl-stage-outer {
			.owl-stage {
				.owl-item {
					// width: 500px !important;
				}
			}
		}
	}

	.single-event:nth-child(even) {
		flex-direction: column;
		@media screen and (min-width:$tablet-mid) {
			flex-direction: row-reverse;
		}
		.image-a {

			@media screen and (min-width:$tablet-mid) {
				margin-left: 2em;
				margin-right: 0;
			}

		}
	}
}

.owl-prev, .owl-next {
	display: none;
}

// .archive-svg {
// 	margin-left: -10vw;
// 	width: 100vw;
// }


.hdk-footer-class {
	.svg-paint-down svg .st0  {
		fill: #ffce47;
	}
}

// Sticky footer for pages that are not the homepage
.site-footer {
	// height: 50px;
	section {
		padding: unset;
	}
}

// hdk blocks

.hdk-block {

	text-align: center;

	.hdk-title {
		text-align: center;
		// margin-top: 2em;
		margin-bottom: 1em;
	}

	.embed {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
	}

	img {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	p {
		// margin-top: 2em;
		margin-bottom: 2em;
		// padding: 0 1em;
	}

	// .outer.gallery {
	// 	.item  {  display: inline-block;  max-width: 100%;  height: 135px; 
	// 		img {
	// 			height: auto;
	// 			width: 100%;
	// 			object-fit: cover;
	// 		}
	// 	}

	// }
	li {
		color: $white;
	}
	.container {
		li {
			color: $white;
		}

		display: flex;
		flex-direction: column;
		@media screen and (min-width:$tablet-mid) {
		min-width: 100%;
		flex-direction: row;
			.column-1 {
				// text-align: left;
				flex: 1 1 66%;
				padding-right: 1em;
			}

			.column-2 {
				// text-align: left;
				flex: 1 1 33%;
				padding: 0 1em;
			}
		}
		}

		.table {
			margin-top: 2em;
			margin-bottom: 2em;
			.row {
				margin: 5em 0;
				display: flex;
				flex-direction: column;
				@media screen and (min-width:$tablet-mid) {
				flex-direction: row;
				}
				.item {
					flex: 1 1 50%;
					margin: 2em 0;
					&.paragraph {
						text-align: left;
						padding-left: 2em;
					}

					&.rich-content {
						overflow: hidden;
						img {
							height: 200px;
							width: 450px;
							margin: auto;
						}

					}
				}

				&:nth-child(even) {
					flex-direction: column;
					@media screen and (min-width:$tablet-mid) {
						flex-direction: row-reverse;
					}
					.item.paragraph {
						// text-align: right;
						padding-right: 2em;
					}
				}
			}

	}
	

	  
}

// -------------------------Carousel---------------------------------------

.outer.gallery { margin:0 auto; max-width:800px;
	margin-bottom: 2em;
}
#big .item { background: $white; 
	// padding: 120px 0px; 
	height: 200px;
	@media screen and (min-width:$tablet-mid) {
		height: 500px;
	}
		margin:2px; color: #FFF; border-radius: 3px; text-align: center;

	img {
		height: 200px;
		@media screen and (min-width:$tablet-mid) {
			height: 500px;
		}
	}
}
#thumbs .item { background: $white;  line-height:90px; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer; 
	
	height: 55px;


	@media screen and (min-width:$tablet-mid) {
		height: 130px;
	}

	@media screen and (min-width:$screen-xl) {
		height: 130px;
	}
	
	img {		
		height: 55px;

		@media screen and (min-width:$tablet-mid) {
			height: 130px;
		}

		@media screen and (min-width:$screen-xl) {
			height: 130px;
		}
	}
}
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item { background: $brown; }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: $brown; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { display: none; background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { display: none; background:#333; }