



/* Call to Action styling */

.cta-primary-container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex: 50%;
    text-align: center;
    margin-bottom: 20px;
    max-width: 480px;
    justify-content: center;
   
}

.cta-btn-book{
    text-transform: uppercase;
    width: 200px;
    min-width: fit-content;
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
    background: #FC2DAB;
    border-radius: 20px;
    border: solid 0px;
    color: #fff;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 1.6em;
    padding: 10px 25px;
    transition: all 0.3s ease-in-out;
}

.cta-btn-book:hover{
background-color: #75C124;


}


/* Related Events*/

/* Background color added to body for demonstration - To be removed */

body{
    background-color: #6A3AEF;

}

.related-events-section{
    text-align: center;
    color: #fff;
    font-size: 3.5em;
    text-transform: capitalize;
}

.primary-container{
    display: flex;
    width: 100%;    
}

.content-container-1{
    flex: 33%;
    box-sizing: border-box;
    align-items: center; 
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
    max-width: 480px;
    justify-content: center;
   
}

.content-img-wrapper{
    align-items: center;
}

.content-img{
    align-items: center;
    width: 350px;
    height: 280px;
    margin-bottom: 10px;
    flex: wrap;
}

.content-img:hover{
    opacity: 0.7;
}

.content-title{
    text-transform: capitalize;
    text-align: center;
    color: #01B3C3;
}

.content-body{
    text-align: center;
    color: #fff;
}

/* Mobile Styles*/

.primary-container{
    flex-direction: column;
    padding: 30px;
}

@media screen and (min-width: 880px){
    .content-img{
        padding:30px;
 
    }
    .content-container-1{
        margin: 30px;
       
    }
}

@media (min-width: 900px){
    .primary-container{
        display: flex;
        flex-direction: row;
        padding: 30px;
        justify-content: center;
    }
}

