.see-calendar {
    padding:0;
    background:transparent;
    min-height:400px;
}

.see-calendar td.fc-day {
    position:relative;

}

.see-calendar td.fc-day:before {
    background:#7244ff;
    content:"";
    position:absolute;
    top:2px;
    right:2px;
    bottom:2px;
    left:2px;
    border-radius:7px;
}

.see-calendar .fc-content, 
.see-calendar .fc-divider, 
.see-calendar .fc-list-heading td, 
.see-calendar .fc-list-view,
.see-calendar .fc-popover, 
.see-calendar .fc-row, 
.see-calendar tbody, 
.see-calendar td, 
.see-calendar th, 
.see-calendar thead {
    border-color:transparent;
}

.see-calendar .fc-row .fc-content-skeleton td.fc-day-top, 
.see-calendar .fc-row .fc-helper-skeleton td.fc-day-top {
    padding-right: 14px;
    padding-top: 6px;
}

.see-calendar .fc-basic-view .fc-day-top .fc-day-number {
    color: #fff;
    font-size: 18px;
}

.see-calendar th.fc-day-header.fc-widget-header.fc-day-header {
    color: #fff;
    font-size: 22px;
}

.see-calendar .fc-event-container {
    padding:1px 5px;
}

.see-calendar .fc-content {
    display: flex;
    flex-direction: column;
    white-space: normal;
    padding:5px;
	line-height:1;
	text-align:center;
}

.see-calendar .fc-content .fc-time {
    padding-bottom:8px;
}

.see-calendar .fc-content .fc-time,
.see-calendar .fc-content .fc-title {
	display: block;
	margin:0;
}

.see-calendar .fc-day-grid-container {
    overflow:visible!important;
    height:auto!important;
}


.see-calendar .fc-button {
    border:0;
    background:#f7f4ff;
    color:#4827a9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    
}



.see-calendar .fc-row .fc-content-skeleton > table > tbody > tr:last-child .fc-event-container {
    padding-bottom:5px;
}

.see-calendar a.fc-event {
    position:relative;
	transition:all .3s ease-in-out;
}

.see-calendar a.fc-event.disabled {
	cursor:default;
}
.see-calendar a.fc-event:hover {
    filter:contrast(1.2) brightness(1.2)
}


.see-calendar .fc-toolbar h2 {
    font-size:60px;
    line-height:1;
}
.see-calendar .fc-event  {
    font-size:14px;
}
.see-calendar .fc-day-grid-event .fc-time {
    font-size:18px;
}

@media screen and (max-width:991px) {

    .see-calendar .fc-toolbar h2 {
        font-size:34px
    }

    .see-calendar .fc-event {
        font-size:11px;
    }
	.see-calendar .fc-event .fc-content {
		height:34px;
	}
    .see-calendar .fc-day-grid-event .fc-time {
        font-size:16px
    }

    .see-calendar .fc-row .fc-content-skeleton td.fc-day-top, 
    .see-calendar .fc-row .fc-helper-skeleton td.fc-day-top {
        padding-right: 12px;
        padding-top: 4px;
    }

    .see-calendar .fc-basic-view .fc-day-top .fc-day-number {
        font-size:16px;
    }
	

}


@media screen and (max-width:767px) {
	.see-calendar .fc-event .fc-content {
		height:34px;
	}
    .see-calendar {
        padding:10px;
    }
    .see-calendar h2 {
        font-size:24px;
    }
    .see-calendar .fc-content {
        font-size:9px;

	}


    .see-calendar .fc-row .fc-content-skeleton td.fc-day-top, 
    .see-calendar .fc-row .fc-helper-skeleton td.fc-day-top {
        padding-right:10px;
        padding-top:5px;
        font-size:12px;
    }


    .see-calendar .fc-event-container {
        padding:1px;
    }
}

@media screen and (max-width:650px) {

    .see-calendar .fc-toolbar h2 {
        font-size:36px
    }

    .see-calendar .fc-event {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .see-calendar th.fc-day-header.fc-widget-header.fc-day-header {
        font-size:16px
    }

    .see-calendar .fc-basic-view .fc-day-top .fc-day-number {
        font-size:14px;
        line-height: 1;

    }

   
    .see-calendar .fc-day-grid-event .fc-time {
        font-size:12px;
    }

    .see-calendar {
        margin-left:-55px;
        margin-right:-55px;
    }

    .see-calendar .fc-button {
        width:40px;
        height:40px;
    }
    .see-calendar .fc-button .fc-icon {
        margin:0;
    }
}



.fc-unthemed .fc-popover.fc-more-popover {

     position: fixed;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
	z-index:9;
	background:#7244FF;

}

.fc-unthemed .fc-popover .fc-header {
    background:transparent;
    padding:20px;
    max-width:800px;
	max-height: 90vh;
    overflow-y: auto;
}

.fc-unthemed .fc-popover  .fc-header > .fc-title {
	font-weight:700;
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.fc-unthemed .fc-popover  .fc-header > .fc-close {
	position: relative;
	z-index:2;
}
.fc-unthemed .fc-popover  .fc-header > .fc-title,
.fc-unthemed  .fc-popover .fc-header > .fc-close {
    font-size:20px;
    color:#fff;
}

.fc-unthemed .fc-popover  .fc-header > .fc-body {
	margin-top:10px;
}



.fc-unthemed .fc-popover .fc-event-container {
    display:flex;
    flex-wrap:wrap;
    padding:0;
    box-sizing:border-box;
}
.fc-unthemed .fc-popover .fc-event-container * {
    box-sizing:border-box;
}

.fc-unthemed .fc-popover .fc-event-container a.fc-event {
    margin:0px;
    padding:10px;
    box-shadow:inset 0 0 0px 4px #7244FF;
    padding:13px;
    border:0!important;
}


.fc-unthemed .fc-popover .fc-event-container a.fc-event .fc-content {
    padding:3px;

}

.see-calendar table {
	margin:0;
}

.see-calendar .fc-more {
    color: #fff;
    font-weight: 700;
    padding: 14px 5px;
    display: block;
    line-height: 1;
    text-align: center;
    font-size: 18px;
    margin: 2px 7px 5px;
    background: rgba(255,255,255,0.2);
    border-radius: 3px;
}

@media screen and (max-width:991px) {
	
	.see-calendar .fc-more {
	    font-size: 14px;
		padding:10px 5px;
	}
}

 .fc-unthemed .fc-popover .fc-event-container a.fc-event {
            flex: 0 0 20%;
    }

@media screen and (max-width:767px) {
	.see-calendar .fc-popover .fc-event .fc-content {
		height:auto;
	}
    .fc-unthemed .fc-popover .fc-title {
		font-size:9px;
    }
	.see-calendar .fc-more {
	font-size:12px;
	padding: 5px 3px;
    margin: 2px 2px 1px;
    background: rgba(255,255,255,0.2);
    border-radius: 3px;
	}
	
	.see-calendar .fc-content .fc-time {
		padding-bottom:3px;
	}
}

@media screen and (max-width:576px) {
    .fc-unthemed .fc-popover .fc-event-container a.fc-event {
            flex: 0 0 25%;
    }
	.see-calendar .fc-event  .fc-content  .fc-title {
		margin-top:auto;
	}

}

.fc-unthemed .fc-popover .fc-event-container a.fc-event .fc-content {
    font-size:14px;
}

.fc-view, .fc-view>table {
    position:static;
}